@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&family=Outfit:wght@400;700&display=swap');
:root{
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
*{
  box-sizing: border-box;
  margin: 0;
}
body{
  background-color: #d5e1ef;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.all{
  max-width: 320px;
  border-radius: 19px;
  background-color: var(--White);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 16px;
}
.all img{
  max-width: 100%;
  border-radius: 30px;
}
.all h1{
  text-align: center;
  margin: 20px 0;
  font-size: 1.4rem;
  color: var(--Dark-blue);

}
.all p{
  color: var(--Grayish-blue);
  margin-bottom: 20px;
  text-align:center;
  font-size:15px;
}